{% if site.data.social_links.social %}
<div class="social">
  <ul class="social__list list-reset">
    {% for social in site.data.social_links.social %}
    <li class="social__item">
      {% assign social_label = social.label | default: social.icon | default: "Social link" %}
      <a class="social__link"
        href="{{ social.link }}"
        aria-label="{{ social_label }}"
        {% unless social.link contains "mailto:" %}target="_blank" rel="noopener noreferrer"{% endunless %}>

        {% if social.icon_src %}
          <ion-icon src="{{ social.icon_src | relative_url }}"></ion-icon>
        {% elsif social.icon %}
          <ion-icon name="{{ social.icon | downcase }}"></ion-icon>
        {% endif %}

      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}